# Run manually to reformat a file:
# clang-format -i --style=file <file>
---
BasedOnStyle:  Google
IndentWidth: 4
---
Language:        Cpp
AccessModifierOffset: -4
ContinuationIndentWidth: 4
AlignAfterOpenBracket: Align # BAS_Align
AlignArrayOfStructures: None
AlignConsecutiveAssignments: None
AlignConsecutiveBitFields: None
AlignConsecutiveDeclarations: None
AlignConsecutiveMacros: AcrossEmptyLinesAndComments
# AlignConsecutiveShortCaseStatements: None # require v17
AlignEscapedNewlines: Left
AlignOperands: AlignAfterOperator # Align
BreakBeforeBinaryOperators: NonAssignment # All
AlignTrailingComments: false
SpacesBeforeTrailingComments: 1
# https://clang.llvm.org/docs/ClangFormatStyleOptions.html#allowallargumentsonnextline
# AllowAllArgumentsOnNextLine: true
# AllowAllParametersOfDeclarationOnNextLine: true
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: false
# AllowShortCompoundRequirementOnASingleLine: true # require v18
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLambdasOnASingleLine: All
AllowShortLoopsOnASingleLine: true
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
AlwaysBreakBeforeMultilineStrings: false
BinPackArguments: true
BinPackParameters: true
BitFieldColonSpacing: Both
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterStruct: false
  AfterEnum: false
  AfterControlStatement: false
  AfterFunction: true
  AfterUnion: false
  AfterExternBlock: false
  BeforeCatch: false
  BeforeElse: false
  BeforeLambdaBody: false
  BeforeWhile: false
  IndentBraces: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
ColumnLimit: 80
Cpp11BracedListStyle: true
DerivePointerAlignment: true
DisableFormat: false
EmptyLineAfterAccessModifier: Never
EmptyLineBeforeAccessModifier: LogicalBlock
FixNamespaceComments: true
IfMacros: [IF]
IndentAccessModifiers: false
IndentCaseBlocks: false
IndentCaseLabels: false # Do not indent switch-case
IndentExternBlock: AfterExternBlock
IndentGotoLabels: true
IndentPPDirectives: BeforeHash
InsertTrailingCommas: None
# KeepEmptyLinesAtEOF: true # require v17
KeepEmptyLinesAtTheStartOfBlocks: false
LambdaBodyIndentation: OuterScope
# LineEnding: LF # require v16
MaxEmptyLinesToKeep: 1
NamespaceIndentation: None
PPIndentWidth: 2
PointerAlignment: Right
QualifierAlignment: Leave
ReferenceAlignment: Pointer
ReflowComments: false
SortIncludes: CaseSensitive
SpaceAfterCStyleCast: false
SpaceAfterLogicalNot: false
SpaceAroundPointerQualifiers: Default
SpaceBeforeAssignmentOperators: true
SpaceBeforeCaseColon: false
# https://clang.llvm.org/docs/ClangFormatStyleOptions.html#spacebeforecpp11bracedlist
# SpaceBeforeCpp11BracedList: true
SpaceBeforeCtorInitializerColon: true
SpaceBeforeInheritanceColon: true
# SpaceBeforeJsonColon: false # require v17
SpaceBeforeRangeBasedForLoopColon: true
SpaceBeforeSquareBrackets: false
SpaceInEmptyBlock: false
SpaceInEmptyParentheses: false
SpacesInAngles: Never
SpacesInContainerLiterals: false
SpacesInLineCommentPrefix:
  Minimum:         1
  Maximum:         -1
SpacesInSquareBrackets: false
Standard: Auto
TabWidth: 4
UseTab: Never
---
